<!-- Footer-->

<footer class="footer" style="background-color: #f1f1f1;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <p class="m-4">A Project by <b>SHIVAM CHAUDHARY</b> &copy; 2021</p>
        </div>
        <div class="col-lg-4 fixed-right">
           <!-- Facebook -->
    <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    ><i class="fab fa-facebook-f"></i
  ></a>

  <!-- Instagram -->
  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    ><i class="fab fa-instagram"></i
  ></a>

  <!-- Linkedin -->
  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    ><i class="fab fa-linkedin"></i
  ></a>
  <!-- Github -->
  <a
    class="btn btn-link btn-floating btn-lg text-dark m-1"
    href="#!"
    ><i class="fab fa-github"></i
  ></a>
  <!-- Google -->
  <a
      class="btn btn-link btn-floating btn-lg text-dark m-1"
      href="#!"
      ><i class="fab fa-google"></i
      ></a>

        </div>
      </div>
    </div>
</footer>
